.PhoneInputInput {
  outline: none !important;
  border: none;
}

.ContainerPhoneInputInput:has(.PhoneInputInput:focus) {
  outline: 2px solid #007bff; 
  outline-offset: 2px;
  border-radius: 6px; 
}
